html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}


.home-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/bg2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }

.imgHome{
  width: 40%;
  padding: 0;
}


.imgTitulo{
  width: 50%;
  height: auto;
}


.social-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}


.social-menu ul li .icon{
  font-size: 40px;
  line-height: 60px;
  color: #235AE2;
}


.social-menu ul li .icon:hover{
  color: #fff;


}


.social-menu ul li a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);


}


.social-menu ul li:nth-child(1) a:hover{
  background-color: #00E676;


}


.social-menu ul li:nth-child(2) a:hover{
  background-color: #e4405f;
}


.social-menu ul li a:hover{
  transform: translate(0, -10px);
}


.buttonIcon {
  text-decoration: none;
  color: inherit;
}

.icon {
  font-size: 2rem;
}

footer {
  width: 100%;
  background-color: #fff;
  padding: 18px;
  margin-top: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.logo-footer {
  width: 250px; 
  height: auto;
}


/* 1. Mobile - Pequeños dispositivos, max-width: 480px */
@media (max-width: 480px) {
  .background-image {
    background-image: url("../../assets/bg3small.webp");  
     
  }
  .imgHome {
    width: 100%;
    height: auto;
    margin-top: 40%;
  }

  .imgTitulo {
    width: 100%;
    height: auto;
  }

  .social-menu ul li .icon {
    font-size: 1.5rem;
    line-height: 50px;
  }

  .social-menu ul li a {
    width: 50px;
    height: 50px;
  }

  .logo-footer {
    width: 250px;
  }
}

/*(430 x 932 px) */
@media (min-width: 430px) and (max-width: 932px) {
  .background-image {
    background-size: cover;
    background-position: center;
  }

  .home-container {
    padding: 0 10px; 
    overflow-x: hidden; 
  }

  .imgHome {
    width: 100%;
    max-width: 100%; 
  }

  .imgTitulo {
    width: 100%;
    max-width: 100%;
  }

}

/* 2. Tablet - max-width: 768px */
@media (min-width: 481px) and (max-width: 768px) {
  .background-image {
    background-image: url("../../assets/bg3small.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .imgHome {
    width: 600px;
  }

  .imgTitulo {
    width: 70%;
  }

  .social-menu ul li .icon {
    font-size: 1.8rem;
    line-height: 50px;
  }

  .social-menu ul li a {
    width: 50px;
    height: 50px;
  }

  .logo-footer {
    width: 300px;
  }
}

/* Resolución 600x1024 - Tablets en orientación vertical o dispositivos similares */
@media (min-width: 600px) and (max-width: 1024px) {
  .background-image {
    background-image: url("../../assets/bg3small.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .home-container {
    padding: 0 20px; 
    justify-content: center; 
  }

  .imgHome {
    width: 70%; 
    margin-top: 10%;
  }

  .imgTitulo {
    width: 70%; 
  }

  .social-menu ul li .icon {
    font-size: 1.8rem; 
    line-height: 50px;
  }

  .social-menu ul li a {
    width: 50px; 
    height: 50px;
  }

  .footer {
    padding: 15px;
  }

  .logo-footer {
    width: 300px;
  }
}

@media (min-width: 769px) and (max-width: 834px) {
  .background-image {
    background-image: url("../../assets/bg3small.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .home-container {
    padding: 0 20px; 
    justify-content: center; 
  }

  .imgHome {
    width: 60%; 
    height: auto;
    margin-top: 5%; 
  }

  .imgTitulo {
    width: 70%; 
    height: auto;
  }


  .social-menu ul li .icon {
    font-size: 30px; 
    line-height: 50px;
  }

  .social-menu ul li a {
    width: 50px; 
    height: 50px;
  }

  .footer {
    padding: 15px 0; 
  }

  .logo-footer {
    width: 300px; 
  }

  .background-image {
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 820px) and (max-width: 1180px) {
  .background-image {
    background-image: url("../../assets/bg3small.webp"); /* Imagen específica para esta resolución */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .imgHome {
    width: 80%; 
    margin-top: 40px; 
  }

  .imgTitulo {
    width: 60%; 
  }

  .footer {
    padding: 15px; 
  }
}
/* Resolución 1024x768 - Tablets en orientación horizontal y monitores pequeños */
@media (min-width: 768px) and (max-width: 1024px) {
  .background-image {
    background-image: url("../../assets/bg3small.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .home-container {
    padding: 0 20px; 
    justify-content: center; 
  }

  .imgHome {
    width: 70%; 
    margin-top: 10%;
  }

  .imgTitulo {
    width: 70%; 
  }

  .social-menu ul li .icon {
    font-size: 2rem; 
    line-height: 60px;
  }

  .social-menu ul li a {
    width: 60px; 
    height: 60px;
  }

  .footer {
    padding: 15px;
  }

  .logo-footer {
    width: 350px;
  }
}

/* 3. Tablet horizontal y pequeños escritorios - max-width: 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .background-image {
    background-image: url("../../assets/bg3small.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .imgHome {
    width: 70%;
    margin-top: 10%;
  }

  .imgTitulo {
    width: 70%;
  }

  .social-menu ul li .icon {
    font-size: 2rem;
    line-height: 60px;
  }

  .social-menu ul li a {
    width: 60px;
    height: 60px;
  }

  .logo-footer {
    width: 350px;
  }
}

/* 4. Escritorio grande - max-width: 1200px */
@media (min-width: 1025px) and (max-width: 1200px) {
  .background-image {
    background-image: url("../../assets/bg3small.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .imgHome {
    width: 40%;
  }

  .imgTitulo {
    width: 50%;
  }

  .social-menu ul li .icon {
    font-size: 40px;
  }

  .logo-footer {
    width: 400px;
  }
}



